*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    place-items: center;
    margin-top: 5rem;
    background-color: black;
}


.jpg {
    width: 320px;
}

h1 {
    margin-bottom: 10%;
    color: white;
    text-decoration: underline;
    justify-content: flex-start;
    margin-left: 5%;
}

.h2 {
    color: white;
    text-decoration: underline;
}

.h3 {
    color: white;
    text-decoration: underline;
}

.h4 {
    color: white;
    text-decoration: underline;
}


